.home {
  display: flex;
  min-height: calc(100vh - 66px);

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 86px;
    min-height: 100%;
  }

  &__body {
    flex: 1 1 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;

    @include medium-tablet {
      // column-gap: 65px;
    }

    @include medium-mobile {
      flex-direction: column;
    }
  }

  &__content {
    margin-top: 37px;

    @include medium-mobile {
      margin-bottom: 59px;
    }
  }

  &__content-img {
    margin-bottom: 65px;
    width: 535px;
    height: 300px;
    transform: translateX(-60px);


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    @include medium-tablet {
      width: 394px;
      height: 220px;
      transform: translateX(0);
    }

    @include mobile {
      width: 100%;
      height: 157px;

      img {
        object-fit: contain;
      }
    }
  }

  &__btn {

  }

  &__img {
    width: 397px;
    height: 361px;
    transform: translateX(43%);

     img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include medium-desktop {
      transform: translateX(25%);
    }

    @include medium-tablet {
      width: 244px;
      height: 211px;
    }

    @include tablet {
      transform: translateX(0%);
    }

    @include mobile {
      width: 100%;
      height: 215px;
    }
  }

  &__descr {
    margin-bottom: 48px;
    max-width: 490px;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;

      &:not(:last-child) {
        margin-bottom: 41px;
      }
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.4;
    }
  }

  &__icon-scroll {
    display: flex;
    justify-content: center;
    height: 30px;

    img {
      animation: scroll-down .7s infinite alternate;
    }

    @include mobile {
      display: none;
    }
  }
}

@keyframes scroll-down {
  0% {
    width: 85px;
    transform: translateY(-50%);
  }

  100% {
    width: 65px;
    transform: translateY(50%);
  }
}