<footer class="footer">
  <div class="container">
    <h2 class="footer__title">Отправить сообщение</h2>
    <form action="#" class="form">
      <div class="form__top">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Ваше имя">
        </label>
        <label class="form__label">
          <input type="email" name="E-mail" class="input-reset form__input input-email" placeholder="E-mail">
        </label>
      </div>
      <label class="form__label form__label--big">
        <textarea type="text" name="text" class="input-reset form__input form__textarea" placeholder="Ваше сообщение"></textarea>
      </label>
      <button class="footer__btn form__btn btn btn-reset">Отправить</button>
    </form>
    <div class="footer__contact contact">
      <a class="contact__mail" href="mailto:info@groupmnextm.ru">info@groupmnextm.ru</a>
      <a class="contact__tel" href="tel:+74956414080">+7 (495) 641-40-80</a>
      <p class="contact__info">Правовая информация</p>
    </div>
  </div>
</footer>
