<header class="header">
  <div class="header__container big-container">
    <div class="header__logo">
      <img src="img/logo.png" alt="логотип">
    </div>
    <div class="header__body" data-menu>
      <nav class="nav" title="навигация">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#home" class="nav__link" data-scroll data-menu-item>Конференция</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-scroll data-menu-item>Программа</a></li>
          <li class="nav__item"><a href="#speakers" class="nav__link" data-scroll data-menu-item>Спикеры</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-scroll data-menu-item>Фото</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-scroll data-menu-item>Материалы</a></li>
        </ul>
        <a class="nav__btn" href="#"><span>Регистрация</span></a>
      </nav>
      <div class="header__social">
        <a class="icon-mail" href="mailto:info@groupmnextm.ru">
          <img src="img/icon/mail.svg" alt="иконка почты">
        </a>
        <a class="icon-facebook" href="#">
          <img src="img/icon/facebook.svg" alt="иконка facebook">
        </a>
      </div>
    </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
  </div>
</header>

