<section class="home" id="home">
  <div class="home__container container">
    <article class="home__body">
      <h1 class="home__title visually-hidden">Скытый заголовок</h1>
      <div class="home__top">
        <div class="home__content">
          <div class="home__content-img">
            <img src="img/descr.svg" alt="описание конференции">
          </div>
          <button class="home__btn btn btn-reset"><span>зарегистрироваться</span></button>
        </div>
        <div class="home__img">
          <img src="img/decor.svg" alt="декоративная картинка">
        </div>
      </div>
      <div class="home__descr">
        <h1>Команда рекламного холдинга GroupM рада
          открыть для вас двери digital-конференции NextM!</h1>
        <p>NextM – это ежегодная digital-конференция, организованная ведущей международной рекламной группой GroupM, входящей в состав коммуникационного холдинга WPP и представленной в России агентствами Mindshare, MediaCom и Wavemaker.</p>
      </div>
    </article>
    <div class="home__icon-scroll">
      <img src="img/icon/arrow.svg" alt="иконка скролла вниз">
    </div>
  </div>
</section>
