<section class="speakers" id="speakers">
  <div class="speakers__container container">
    <h2 class="speakers__title">Спикеры</h2>
    <div class="speakers__slider">
      <div class="swiper speakers-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide speakers-slide">
            <picture>
              <source srcset="img/slider-img-01.webp, img/slider-img-01_2x.webp 2x" type="image/webp">
              <img  class="speakers-slide__image" loading="lazy" src="img/slider-img-01.jpg" srcset="img/slider-img-01_2x.jpg 2x" alt="фото сотрудника">
            </picture>
            <div class="speakers-slide__descr">
              <p>Ярон Фаризон</p>
              <p>CEO MediaCom</p>
            </div>
          </div>
          <div class="swiper-slide speakers-slide">
            <picture>
              <source srcset="img/slider-img-01.webp, img/slider-img-01_2x.webp 2x" type="image/webp">
              <img  class="speakers-slide__image" loading="lazy" src="img/slider-img-01.jpg" srcset="img/slider-img-01_2x.jpg 2x" alt="фото сотрудника">
            </picture>
            <div class="speakers-slide__descr">
              <p>Ярон Фаризон</p>
              <p>CEO MediaCom</p>
            </div>
          </div>
          <div class="swiper-slide speakers-slide">
            <picture>
              <source srcset="img/slider-img-01.webp, img/slider-img-01_2x.webp 2x" type="image/webp">
              <img  class="speakers-slide__image" loading="lazy" src="img/slider-img-01.jpg" srcset="img/slider-img-01_2x.jpg 2x" alt="фото сотрудника">
            </picture>
            <div class="speakers-slide__descr">
              <p>Ярон Фаризон</p>
              <p>CEO MediaCom</p>
            </div>
          </div>
          <div class="swiper-slide speakers-slide">
            <picture>
              <source srcset="img/slider-img-01.webp, img/slider-img-01_2x.webp 2x" type="image/webp">
              <img  class="speakers-slide__image" loading="lazy" src="img/slider-img-01.jpg" srcset="img/slider-img-01_2x.jpg 2x" alt="фото сотрудника">
            </picture>
            <div class="speakers-slide__descr">
              <p>Ярон Фаризон</p>
              <p>CEO MediaCom</p>
            </div>
          </div>
        </div>

      </div>

      <div class="speakers-swiper-button">
        <div class="swiper-button-prev speakers-prev">
          <img src="img/icon/arrow-left.svg" alt="стрелка влево">
        </div>
        <div class="swiper-button-next speakers-next">
          <img src="img/icon/arrow-right.svg" alt="стрелка вправо">
        </div>
      </div>
      <div class="speakers-pagination">
        <div class="swiper-pagination speakers-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>